.church-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.conference-header {
    background: linear-gradient(to right, #97C6D0, #76D2A9, #FFCC35);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.conference-header h1 {
    font-size: 62px;
}

.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}


.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

#ics-con-image-1 {
    display: block;
    width: 70%;
    height: 100%;
    object-fit: cover;

}

#ics-con-image-2 {
    display: block;
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    margin-bottom: 45px;
}

.content-paragraph {
    flex: 1;
    font-size: 24px;
    width: 800px;
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    background-color: #f7f7f7;
    margin-top: 15px;
    margin-bottom: 15px;
}

#circle-profile {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-left: -75px;
    margin-top: -30px;
    background-color: black;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple lines */
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: black;
}

.skill {
    width: 33.33%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: scale(1.05);
}

#target {
    background: url("../../public/assets/adobe-target.png") center center/cover no-repeat;
    object-fit: cover;
}

#react-logo {
    background: url("../../public/assets/react-logo.png") center center/cover no-repeat;
    object-fit: cover;
}

#javascript-logo {
    background: url("../../public/assets/javascript-banner.png") center center/cover no-repeat;
    object-fit: cover;
}

.skills-header {
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    font-size: 38px;
    padding: 15px;
}

@media screen and (max-width: 1000px) {
    .skills {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap onto multiple lines */
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 65vh;
        background-color: black;
    }

    .skill {
        width: 100%;
        height: 33%;
    }

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 45px;
    }

    .content-paragraph {
        flex: 1;
        font-size: 24px;
        width: 95%;
        margin: 1%;
        padding: 20px;
        border-radius: 20px 20px 20px 0;
        background-color: #f7f7f7;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    #circle-profile {
        margin-top: 25px;
        width: 300px;
        height: 300px;
        border-radius: 300px;
    }
}

@media screen and (max-width: 840px) {
    #ics-con-image-1 {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    #ics-con-image-2 {
        display: block;
        width: 80%;
        height: 100%;
        object-fit: cover;
    }
}