.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 500px;
}

#zappala-swiper {
    text-align: center;
    font-size: 18px;
    background: #4F5E66;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

#danielZappala {
    display: block;
    width: 30%;
    height: 100%;
    object-fit: cover;
}

#zappala-markdown-section {
    padding: 45px;
    background-color: #4F5E66;
    color: #000;
    color: #fff;
}

.zappala-header {
    font-size: 68px;
    color: #fff !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

#zappala-markdown-section p {
    margin-top: 15px;
    font-size: 24px;
}

#zappala-skills-header {
    width: 100%;
    text-align: center;
    background-color: #261B16;
    color: white;
    font-size: 38px;
    padding: 15px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple lines */
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: black;
}

.skill:hover {
    transform: scale(1.05);
}

#vuejs {
    background: url("../../public/assets/vuejs.png") center center/cover no-repeat;
    object-fit: cover;
}

#electron {
    background: url("../../public/assets/Electron-logo-light.png") center center/cover no-repeat;
    object-fit: cover;
    width: 33.33%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#javascript {
    background: url("../../public/assets/javascript-banner.png") center center/cover no-repeat;
    object-fit: cover;
}


@media screen and (max-width: 1000px) {
    .skills {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap onto multiple lines */
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        background-color: black;
    }

    .skill {
        width: 100%;
        height: 33%;
    }
}