#character {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    padding: 10px;
    background-color: rgba(107, 107, 107, 0.477);
    font-size: 1.5rem;
    z-index: 100;
    border-top-right-radius: 15px;
}

#stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#level {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    /* sets the rounded corners */
    border: 2px solid black;
    /* sets the border width, style, and color */
    padding: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-right: 10px;
    cursor: pointer;
}

#right-stats {
    margin-top: 5px;
}

#exp-bar-container {
    height: 15px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 15px;
}

#exp-bar-inner {
    background: linear-gradient(to bottom, #7bff81, #4caf50);
    border-radius: 15px;
    height: 10px;
    padding: 2px;
    width: calc((var(--exp) / var(--max-exp)) * 100%);
    transition: width 0.25s ease-in-out;
}

#exp-stat {
    font-size: 18px;
    color: #6af36e;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000000,
        1px 1px 0 #000;
    margin-top: 5px;
    font-weight: bold;
}

#add-exp {
    color: orange;
    font-size: 18px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000000,
        1px 1px 0 #000;
    position: absolute;
    top: 15px;
    left: 280px;
    font-weight: bold;
}