.hero-component-container {
    background: url("../../public/assets/drone.jpg") center center/cover no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    top: 0;
    left: 0;
    height: 75vh;
}

.hero-component-container>h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-component-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1180px) {
    .hero-component-container {
        height: 40vh;
    }

    .hero-component-container>h1 {
        font-size: 80px;
        margin-top: -150px;
    }
}


@media screen and (max-width: 953px) {
    .hero-component-container>h1 {
        font-size: 70px;
        margin-top: -100px;
    }

    .hero-component-container>p {
        font-size: 30px;
    }
}

@media screen and (max-width: 830px) {
    .hero-component-container>h1 {
        font-size: 65px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 775px) {
    .hero-component-container {
        height: 35vh;
    }

    .hero-component-container>h1 {
        font-size: 55px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 665px) {
    .hero-component-container {
        height: 30vh;
    }

    .hero-component-container>h1 {
        font-size: 40px;
        margin-top: -150px;
    }
}